<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="RCURI" value="YOUR_RC_URI" />
    <add key="RCTOKENXX" value="YOUR_RC_TOKEN_XX_PROJECT" />
    <add key="RCTOKENYY" value="YOUR_RC_TOKEN_YY_PROJECT" />
  </appSettings>

  <connectionStrings />
    <system.web>
      <compilation debug="true">

      </compilation>
      <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
      <authentication mode="Windows" />
      <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
      -->
      <!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
      -->
      <authorization>
        <allow users="*" />
        <!-- Allow all users -->
        <!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
         -->
      </authorization>

      <sessionState
                mode="InProc"
                stateConnectionString="tcpip=127.0.0.1:42424"
                sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes"
                cookieless="false"
                timeout="20"
       />

      <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
      -->
      <globalization
              requestEncoding="utf-8"
              responseEncoding="utf-8"
      />
    </system.web>

</configuration>
